<div id="gmap-menu" style="width: 100%; height: 400px;"></div>
<div class="container">
	<div id="controls"></div>
</div>

<script>
  	var html_checks = {
        //required: called by Maplace.js to activate the current voice on menu
        activateCurrent: function(index) {
                this.html_element.find("input[value='" + index + "']").attr('checked', true);
        },
        //required: called by Maplace.js to get the html of the menu
        getHtml: function() {
                var self = this,
                    html = '';

                //if more than one location
                if(this.ln > 1) {
                        html += '<div class="checkbox controls ' + this.o.controls_cssclass + '">';

                        //check "view all" link
                        //use ShowOnMenu(index) to know if a location has to appear on menu
                        if(this.ShowOnMenu(this.view_all_key)) {
                                html += '<div class="col-xs-12"><input type="radio" name="gmap" value="' + this.view_all_key + '"/>' + this.o.view_all_text + '</div>';
                        }

                        //iterate the locations
                        for (var a = 0; a < this.ln; a++) {
                                if(this.ShowOnMenu(a))
                                    html += '<div class="col-xs-12 col-md-4 store-locator">\
                                               <label class="store-title" for="' + (a+1) + '">'+ (this.o.locations[a].title || ('#' + (a+1))) +'</label>\
                                               <input class="hidden" type="radio" name="gmap" value="' + (a+1) + '" id="' + (a+1) + '"/>\
											   <div class="store-info">\
													<p><strong>Tel:</strong><a href="tel:'+this.o.locations[a].phone.trim()+'"> '+ this.o.locations[a].phone +'</a></p>\
													<p><strong>Dirección:</strong> '+ this.o.locations[a].address +'</p>\
													<p><strong>Horario:</strong> '+ this.o.locations[a].schedule +'</p>\
                                                    <p>'+ this.o.locations[a].description +'</p>\
                                               </div>\
                                            </div>';
                        }
                        html += '</div>';
                }

                this.html_element = $('<div class="wrap_controls"></div>').append(html);

                //event on change
                //use ViewOnMap(index) to trigger the marker on map
                this.html_element.find('input[type=radio]').bind('change', function() {
                        self.ViewOnMap(this.value);
                });

                return this.html_element;
        }
	};
	var LocsAv2 = [
     {% for block in section.blocks %}	
      	{
          lat: '{{ block.settings.latitude_store }}',
          lon: '{{ block.settings.longitude_store }}',
          title: '{{ block.settings.title_store }}',
          phone: '{{ block.settings.phone_store }}',
          address: '{{ block.settings.address_store }}',
          schedule: '{{ block.settings.attention-schedule_store }}',
          description: '{{ block.settings.description_store }}',
          html: [
            '<h3> {{ block.settings.title_store }} </h3>',
            '<p> {{ block.settings.description_store }} </p>',
          ].join(''),
            icon: '{{ section.settings.image_point | img_url: 'small'  }}',
            animation: google.maps.Animation.DROP
         	{% if forloop.last == true %}
            	}
        	{% else %}
            	},
        	{% endif %}
       {% endfor %}
     ];
     
      var maplace = new Maplace();
      maplace.AddControl('checks', html_checks);
      
      maplace.Load({
          locations: LocsAv2,
          map_div: '#gmap-menu',
          controls_type: 'checks',
          //controls_cssclass: 'form-control',
          controls_on_map: false,
      	  view_all: false,
          zoom: 20,
          //view_all_text: 'Ver Todos',
      	  afterShow: function(){
		  		$('html, body').animate({
                    scrollTop: $("#gmap-menu").offset().top
                }, 500);
      	  },
          styles: {
          'Petenatti': [
            {
              "featureType": "administrative.locality",
              "elementType": "all",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": 7
                },
                {
                  "lightness": 19
                },
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "landscape",
              "elementType": "all",
              "stylers": [
                {
                  "hue": "#ffffff"
                },
                {
                  "saturation": -100
                },
                {
                  "lightness": 100
                },
                {
                  "visibility": "simplified"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "all",
              "stylers": [
                {
                  "hue": "#ffffff"
                },
                {
                  "saturation": -100
                },
                {
                  "lightness": 100
                },
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": -52
                },
                {
                  "lightness": -10
                },
                {
                  "visibility": "simplified"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": -93
                },
                {
                  "lightness": 31
                },
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "labels",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": -93
                },
                {
                  "lightness": -2
                },
                {
                  "visibility": "simplified"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": -52
                },
                {
                  "lightness": -10
                },
                {
                  "visibility": "simplified"
                }
              ]
            },
            {
              "featureType": "transit",
              "elementType": "all",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": 10
                },
                {
                  "lightness": 69
                },
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "all",
              "stylers": [
                {
                  "hue": "#c79c60"
                },
                {
                  "saturation": -78
                },
                {
                  "lightness": 67
                },
                {
                  "visibility": "simplified"
                }
              ]
            }
          ]
      	}
          
      });
      $('.store-locator').each(function(i) {
        if( i % 3 == 0 ) {
            $(this).nextAll().andSelf().slice(0,3).wrapAll('<div class="row"></div>');
        }
      });
</script>




{% schema %}
   {
  	"name": "Store Locator",
	"settings": [
		{
        	"type": "image_picker",
        	"id": "image_point",
        	"label": "Image Point"
      	}
	],
  	"blocks": [{
  		"type": "Store",
  		"name": "Store",
		"settings": [
			{
  				"type": "text",
  				"id": "title_store",
  				"label": "Store Name"
  			},
			{
  				"type": "text",
				"id": "latitude_store",
  				"label": "Latitude"
  			},
  			{
  				"type": "text",
  				"id": "longitude_store",
  				"label": "Longitude"
  			},
  			{
  				"type": "text",
  				"id": "phone_store",
  				"label": "Phone"
  			},
  			{
  				"type": "text",
  				"id": "address_store",
  				"label": "Address"
  			},
  			{
  				"type": "text",
  				"id": "attention-schedule_store",
  				"label": "Attention Schedule"
  			},
  			{
  				"type": "textarea",
  				"id": "description_store",
  				"label": "Description",
  				"default": "Short Description"
  			}
  		]
  	}],
  	"presets": [{
  		"name": "Store",
		"blocks" : [{
		 	"type": "Store"
         }]
  	}]
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
	
		
{% endjavascript %}
